/* --------------------------------pop-courriel -------------------------------*/
.pop-courriel {
    grid-template-rows: 12% 10% 78%;
}

.pop-courriel-header {
    grid-template-columns: 78% 10% 12%;
    padding-left: 6%;
}

.pop-courriel-header h1 {
    overflow-x: scroll;
    color: #1E1E1E;
    margin: auto;
    width: 100%;
}

.pop-courriel-header h1::-webkit-scrollbar {
    height: 1vh;
}

.pop-courriel-nom {
    padding: 0 3% 0 3%;
    grid-template-columns: 12% 80% !important;
}

.pop-courriel-nom * {
    margin-left: 0;
}

.pop-courriel-expediteur {
    overflow-x: scroll;
    max-width: 100%;
}

.pop-courriel-expediteur::-webkit-scrollbar {
    height: 0.5vh;
}

.pop-courriel-text {
    width: 94%;
    height: 95%;
    margin: auto;
    font-size: 20px;
    overflow-y: scroll;
}

.pop-courriel-text::-webkit-scrollbar {
    height: 1vh;
}



/* --------------------------------pop-courriel -------------------------------*/