* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

body {
  background-color: #efefef;
}

header {
  width: 100%;
  height: 7.9vh;
  background: linear-gradient(180deg, #70ff59 0%, rgba(217, 255, 193, 0) 100%);
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 4vh;
}

.container-logo,
.container-adresse {
  display: inline-grid;
}

.container-logo {
  grid-template-columns: 40% 60%;
  column-gap: 1vw;
  margin-left: 4vh;
  margin-right: auto;
}

.container-logo img {
  width: 81px;
  margin: auto;
}

.container-logo h1 {
  margin: auto;
  margin-left: 0;
  font-size: 40px;
}

.container-adresse {
  background-color: black;
  opacity: 0.65;
  color: white;
  border-radius: 0 0 0 30px;
  grid-template-columns: 20% 80%;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.titre-adresse {
  margin-left: auto;
  font-size: 32px;
}

.adresse {
  margin: auto;
  width: 95%;
  font-size: 15px;
  line-height: 2vh;
}

main {
  display: grid;
  grid-template-rows: 45% 55%;
  height: 86vh;
}

.premiere-range {
  display: grid;
  grid-template-rows: 20% 80%;
}

.recherche-messages {
  background-color: white;
  border: black solid 3px;
  border-radius: 50px;
  height: 44px;
  width: 1128px;
  margin: auto;
  display: grid;
  grid-template-columns: 5% 95%;
}

.recherche-messages img {
  margin: auto;
}

.recherche-messages input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 24px;
}
