* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

input,
textarea {
  border: none;
  background-color: transparent;
  outline: none;
}

body {
  height: 100vh;
  background-color: #efefef;
  display: grid;
  grid-template-rows: 10% 84%;
  row-gap: 3%;
}

main {
  display: grid;
  grid-template-rows: 37% 57%;
  row-gap: 6%;
  width: 80%;
  margin: 0 auto 0 auto;
}

.premiere-range {
  display: grid;
  grid-template-rows: 15% 80%;
  row-gap: 5%;
}

.deuxieme-range {
  display: grid;
  grid-template-columns: 55% 30%;
  column-gap: 15%;
}

/* --------------------------------BARRE DE HAUT -------------------------------*/
header {
  width: 100%;
  background: linear-gradient(180deg, #70ff59 0%, rgba(217, 255, 193, 0) 100%);
  display: grid;
  grid-template-columns: 30% 70%;
}

.container-logo,
.container-adresse {
  display: inline-grid;
}

.container-logo {
  grid-template-columns: 40% 60%;
  column-gap: 1vw;
  margin-left: 4vh;
  margin-right: auto;
}

.container-logo img {
  width: 81px;
  margin: auto;
}

.container-logo h1 {
  margin: auto;
  margin-left: 0;
  font-size: 40px;
}

.container-adresse {
  background-color: black;
  opacity: 0.65;
  color: white;
  border-radius: 0 0 0 30px;
  grid-template-columns: 20% 80%;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.titre-adresse {
  margin-left: auto;
  font-size: 32px;
}

.adresse {
  margin: auto;
  width: 95%;
  font-size: 15px;
  line-height: 2vh;
}

/* --------------------------------BARRE DE HAUT -------------------------------*/

/* --------------------------------BARRE DE RECHERCHE DES MESSAGES -------------------------------*/
.recherche-messages {
  background-color: white;
  border: black solid 1px;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 95%;
}

.recherche-messages:hover {
  border-width: 3px;
}

.recherche-messages img {
  margin: auto;
}

.recherche-messages input {
  font-size: 24px;
}

/* --------------------------------BARRE DE RECHERCHE DES MESSAGES -------------------------------*/

/* --------------------------------MESSAGES -------------------------------*/
.container-courriels {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg,
      #78b8f3 0%,
      rgba(120, 100, 247, 0.14) 100%);
  border-radius: 25px;
  margin: 0 auto auto auto;
  display: grid;
}

.courriel {
  background-color: white;
  width: 95%;
  border-radius: 20px;
  margin: 1vh auto auto auto;
  display: inline-grid;
  grid-template-columns: 8% 24% 30% 30% 8%;
  grid-template-rows: 5.5vh;
}

.courriel img {
  margin: auto;
}

.courriel p {
  margin: auto 0 auto 0;
}

.courriel .expediteur {
  font-size: 24px;
}

.courriel .objet {
  font-size: 20px;
}

.courriel .destinataire {
  font-size: 15px;
}

.aucun-message {
  color: white;
  margin: auto;
  font-size: 28px;
}

/* --------------------------------MESSAGES -------------------------------*/

/* --------------------------------NOUVEAU -------------------------------*/
.container-nouv {
  display: grid;
  grid-template-rows: 20% 70% 8%;
  width: 100%;
  height: 100%;
  background-color: #8f8f8f;
  border-radius: 15px 15px 10px 10px;
}

.nouv-info {
  background-color: #474d52;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.container-nouv-destinataire {
  display: grid;
  grid-template-columns: 14% 76% 10%;
  border-bottom: #949494 solid 2px;
}

.container-nouv-destinataire img {
  width: 33px;
  margin: auto;
}

.nouv-info input {
  font-size: 24px;
  color: white;
}

.container-nouv-objet {
  display: grid;
  grid-template-columns: 14% 86%;
}

.container-nouv-objet p {
  font-size: 24px;
  font-weight: 100;
  color: white;
  margin: auto;
}

.nouv-message {
  color: white;
  font-size: 22px;
  width: 95%;
  height: 95%;
  margin: auto;
}

.nouv-btn-envoyer {
  margin: 0 1vw 0 auto;
  display: grid;
  grid-template-columns: 24% 70%;
  width: 122px;
  height: 34px;
  background: #474D52;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  border: 0;
}

.nouv-btn-envoyer:hover {
  background-color: #9c9c9c;
  border: 3px black solid;
}

.nouv-btn-envoyer * {
  margin: auto;
}

.nouv-btn-envoyer img {
  margin-right: 0;
}

/* --------------------------------NOUVEAU -------------------------------*/

/* --------------------------------CONTACTS -------------------------------*/
.container-contacts {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFFF9D 0%, rgba(246, 246, 185, 0.49) 56.77%, #FFFF84 100%);
  border-radius: 35px;
  display: grid;
  grid-template-rows: 12% 76% 8%;
  row-gap: 2%;
}

.recherche-contacts {
  background-color: white;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 15% 84%;
  column-gap: 1%;
}

.recherche-contacts:hover {
  border: black 2px solid;
}

.recherche-contacts img {
  margin: auto;
  width: 40px;
  height: 40px;
}

.recherche-contacts input {
  font-size: 26px;
}

.list-contacts {
  display: grid;
}

.contacts-contact {
  width: 90%;
  height: 76px;
  background: #474D52;
  border-radius: 0px 15px 0px 0px;
  display: grid;
  grid-template-columns: 20% 55% 10% 15%;
}

.contacts-contact img {
  height: 37px;
  width: 37px;
  margin: auto;
}

.contacts-contact p {
  font-size: 24px;
  color: white;
  margin: auto;
  margin-left: 0;
}

.btn-ajouter-contact {
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  border: none;
  display: grid;
  grid-template-columns: 25% 75%;
}

.btn-ajouter-contact:hover {
  border: black 2px solid;
  background-color: rgb(228, 228, 228);
}

.btn-ajouter-contact img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.btn-ajouter-contact p {
  font-size: 24px;
  margin: auto;
  margin-left: 0;
}

/* --------------------------------CONTACTS -------------------------------*/